* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #4b4a4a, #747170, #b9b9b9);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #ccb08f;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ccb08f;
    transition: 0.4s;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgb(161, 161, 161);
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #4b4a4a;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: crimson;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skill{
   background: rgb(60, 60, 192);
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
.content-section .card img{
    width: 100%;
    height: auto;
}
.content-section .card h2{
    margin: 15px 0px;
    font-size: 28px;
    color: white;
    font-family: sans-serif;
}
.content-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.contact-info a {
    color: white;
}
.contact-info li{
    color: white;
}